<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>.dropdown img.rounded-circle {
        margin-bottom: -5px; /* Reduce the bottom margin of the profile image */
    }

    .nav li.scroll-to-section a {
        margin-top: -5px; /* Reduce the top margin of the nav links */
    }</style>
</head>
<body>
<!--HEADER-->
<header th:fragment="header" class="header-area header-sticky wow slideInDown" data-wow-duration="0.75s"
        data-wow-delay="0s">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="main-nav">
                    <!-- ***** Logo Start ***** -->
                    <a href="#" th:href="@{/home}" class="logo">
                        <img src="../static/assets/images/logo-test.png" th:src="@{/assets/images/logo-test.png}"
                             style="height: 50px;"
                             alt="Chain App Dev">
                    </a>
                    <!-- ***** Logo End ***** -->
                    <!-- ***** Menu Start ***** -->
                    <ul class="nav">
                        <li class="scroll-to-section"><a href="#" th:href="@{/home}" class="active">Home</a></li>
                        <li th:if="${isAuthenticated}" class="scroll-to-section"><a href="#" th:href="@{/wallets}"
                                                                                    class="active">Wallets</a></li>
                        <li th:if="${isAuthenticated}" class="scroll-to-section">
                            <a href="#"
                         th:href="@{/cards}"
                       class="active">Cards</a>
                        </li>
                        <li th:if="${isAuthenticated and session.isAdmin}"
                            class="scroll-to-section">
                            <a href="#" th:href="@{/admin}" class="scroll-to-section active">
                                Dashboard
                            </a>
                        </li>
                        <li>
                            <div th:unless="${isAuthenticated}" class="gradient-button-copy"><a id="modal_trigger"
                                                                                                th:href="@{/auth/login}"
                                                                                                href="#">
                                <i class="fa fa-sign-in-alt"></i>Login Now</a></div>
                        </li>


                        <div th:if="${isAuthenticated}" class="dropdown text-end">
                            <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle"
                               data-bs-toggle="dropdown" aria-expanded="false">
                                <img th:if="${session.userPicture != null}" th:src="${session.userPicture}" alt="mdo" style="width: 40px; height: 40px" class="rounded-circle">
                                <img th:unless="${session.userPicture != null}" src="/assets/images/profile1.png" alt="mdo" style="width: 40px; height: 40px" class="rounded-circle">
                            </a>
                            <ul class="dropdown-menu text-small">
                                <li><a th:href="@{/users/userProfile}" class="dropdown-item" href="#">Profile</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a th:href="@{/auth/logout}" class="dropdown-item" href="#">Logout</a></li>
                            </ul>
                        </div>


                    </ul>
                    <a class='menu-trigger'>
                        <span>Menu</span>
                    </a>
                    <!--                     ***** Menu End *****-->
                </nav>
            </div>
        </div>
    </div>
</header>
<!--HEADER-->


<!--FOOTER-->
<footer th:fragment="footer" id="newsletter" style="padding-top: 200px !important; margin-top: 90px;">
    <div class="container">
        <div class="col-lg-12">
            <div class="copyright-text">
                <p style="font-size: 2.5vh !important;">
                    Distributed By: <a href="https://github.com/Andromeda-LRT" target="_blank" title="Team">Andromeda
                    Team</a>
                </p>
            </div>
        </div>
    </div>
    </div>
</footer>
<!--FOOTER-->


<!-- Scripts -->
<div th:fragment="scripts">
    <script src="../static/vendor/jquery/jquery.min.js" th:src="@{/vendor/jquery/jquery.min.js}"></script>
    <script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"
            th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
    <script src="../static/assets/js/owl-carousel.js" th:src="@{/assets/js/owl-carousel.js}"></script>
    <script src="../static/assets/js/animation.js" th:src="@{/assets/js/animation.js}"></script>
    <script src="../static/assets/js/imagesloaded.js" th:src="@{/assets/js/imagesloaded.js}"></script>
    <script src="../static/assets/js/popup.js" th:src="@{/assets/js/popup.js}"></script>
    <script src="../static/assets/js/custom.js" th:src="@{/assets/js/custom.js}"></script>
</div>
<!-- Scripts -->
</body>
</html>